* {
	box-sizing: border-box;
	font-family: 'Brush Script MT', cursive;
	margin: 0;
	padding: 0;
}

.header, 
.title {
	font-weight: bold;
	text-align: center;
}

.header {
	font-size: 2.25em;
}

.title {
	border: 1px solid black;
	clear: left;
	float: right;
	padding: 2px 0 2px 0;
	margin: -1px -1px 2% 70%;
	width: 30%;
}

.row {
	font-size: 0.75em;
	width: 100%;
}

.container {
	background: rgb(155,155,155);
	border: 1px solid black;
	float: left;
	margin: 1%;
}

.cont-chicken {
	background: rgb(213,152,152);
}

.cont-beef {
	background: rgb(193,69,67);
}

.cont-sushi {
	background: rgb(229,209,152);
}

.lbl-beef {
	color: rgb(255,255,255);
}

.content {
	padding: 0 2% 1% 2%;
	text-align: justify;
}

/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 31.25%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 47.96%;
  }
  .col-md-12 {
    width: 97.96%;
  }
}

/********** mobile view **********/
@media screen and (max-width: 767px){
  .col-sm-12 {
    width: 97.96%;
  }
}